{% extends "web/layout/base.html" %}
{%load static%}
{%block title%}
<title>Vehicle Management</title>
{%endblock title%}
{%block style%}

{%endblock%}
{%block content%}

{%if messages%}
  {%for message in messages%}
  <script type="text/javascript">
      toastr["{{message.tags}}"]("{{message}}", "{{message.tags|upper}}");
  </script>
  {%endfor%}
{%endif%}

<div>
  <div>
    <main class="main">
        <div>
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'website/images/car1.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'website/images/car2.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'website/images/car3.png' %}" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
        </div>
        <div style="padding: 30px;background: #3d0041;color: white;">
          <h3>WELCOME TO RENT-A-CAR</h3>
          <p> your trusted partner in car rental services in the vibrant landscapes of Bangladesh. At Rent-A-Car, we believe in turning your journeys into unforgettable experiences by providing reliable, convenient, and affordable car rental solutions tailored to your needs.</p>
        </div>
        <div style="min-height: 500px;"></div>
        <div style="background-color: f0f2f5; padding: 40px;">
          <div style="text-align: center;">
            <h1>WHY CHOOSE US</h1>
          </div>
        </div>
    </main>
  </div>
</div>

{%endblock%}
{%block js%}
{%endblock%}