{% extends "web/layout/base.html" %}
{%load static%}
{%block title%}
<title>Vehicle Management</title>
{%endblock title%}
{%block style%}

{%endblock%}
{%block content%}

{%if messages%}
  {%for message in messages%}
  <script type="text/javascript">
      toastr["{{message.tags}}"]("{{message}}", "{{message.tags|upper}}");
  </script>
  {%endfor%}
{%endif%}

<div>
  <div>
    <main class="main">
        <div class="d-flex justify-content-center pt-5">
            <form method="post" autocomplete="off" style="width: 500px;">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-4"><label for="name" class="col-from-label">Name</label></div>
                    <div class="col-8"><input type="text" class="form-control" name="name" id="name" required></div>
                </div>
                <div class="form-group row">
                    <div class="col-4"><label for="mobile" class="col-from-label">Mobile</label></div>
                    <div class="col-8"><input type="text" class="form-control" name="mobile" id="mobile" required></div>
                </div>
                <div class="form-group row">
                    <div class="col-4"><label for="email" class="col-from-label">Email</label></div>
                    <div class="col-8"><input type="email" class="form-control" name="email" id="email"></div>
                </div>
                <div class="form-group row">
                    <div class="col-4"><label for="password" class="col-from-label">Password</label></div>
                    <div class="col-8"><input type="password" class="form-control" name="password" id="password" required></div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mt-2">Submit</button>
                </div>
            </form>
        </div>
    </main>
  </div>
</div>

{%endblock%}
{%block js%}
{%endblock%}