{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="{%static '/favicon.png' %}" type="image/x-icon">
<link rel="stylesheet" href="{%static 'admin-panel/css/style.min.css' %}">
<!-- <link rel="stylesheet" href="{%static 'admin-panel/css/multiselector.min.css' %}"> -->
<link rel="stylesheet" href="{%static 'admin-panel/css/pikaday.css' %}">
<link rel="stylesheet" href="{%static 'admin-panel/css/commonstyle.min.css' %}">
<link rel="stylesheet" href="{%static 'admin-panel/css/toastr.min.css' %}">
<link rel="stylesheet" href="{%static 'admin-panel/css/icons/font-awesome/css/fontawesome-all.min.css' %}">
<script src="{%static 'admin-panel/js/jquery.min.js' %}"></script>
<script src="{%static 'admin-panel/js/toastr.min.js' %}"></script>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.6/css/selectize.min.css" integrity="sha512-zSutnLmqtlWVx0A5NdW8YwshpUETPzJ6YBAvb+bkE0QbVKopS0ACPjE6QY6F9aFPSowfiho+hgeQh095FRPj5A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
{%block title %}
{%endblock %}
{%block style%}
{%endblock%}
</head>
<body>
{%spaceless%}
<div id="load_screen"><div class="spinner"></div></div>
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
{% include 'admin/layout/navbar.html' %}
{%block content%}
{%endblock content%}
</div>
{%endspaceless%}
{%block js%}
{%endblock%}
<script>
window.addEventListener("load", function(){var loadScreen = document.getElementById("load_screen");document.body.removeChild(loadScreen);})
$('form').submit(function(){$(this).find("button[type='submit']").prop('disabled',true);});
</script>
<script src="{%static 'admin-panel/js/sidebarmenu.js' %}"></script>
<script src="{%static 'admin-panel/js/custom.min.js' %}"></script>
<script src="{%static 'admin-panel/js/bootstrap.bundle.min.js' %}"></script>
<!-- <script src="{%static 'admin-panel/js/multiselector.min.js' %}"></script> -->
<script src="{%static 'admin-panel/js/moment.min.js' %}"></script>
<script src="{%static 'admin-panel/js/pikaday.js' %}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.6/js/standalone/selectize.min.js" integrity="sha512-pgmLgtHvorzxpKra2mmibwH/RDAVMlOuqU98ZjnyZrOZxgAR8hwL8A02hQFWEK25V40/9yPYb/Zc+kyWMplgaA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
</body>
</html>