{%spaceless%}
<aside class="left-sidebar">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav" class="pt-4">
        <li class="s-sidebar-item-heading">Operation</li>
        <li class="sidebar-item">
          <!-- <a class="sidebar-link" href="e">
            <span class="hide-menu">Requisition Entry</span>
          </a> -->
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'vehiclerentlist' %}">
            <span class="hide-menu">Requisition Process</span>
          </a>
        </li>
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="c">
            <span class="hide-menu">Availability Check</span>
          </a>
        </li> -->
        <li class="s-sidebar-item-heading">Settings</li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'adminuserlist' %}">
            <span class="hide-menu">User Management</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'customerlist' %}">
            <span class="hide-menu">Customer Management</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'categorylist' %}">
            <span class="hide-menu">Category Setup</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'vehiclelist' %}">
            <span class="hide-menu">Vehicle Setup</span>
          </a>
        </li>
        <li class="s-sidebar-item-heading">Report</li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'income' %}">
            <span class="hide-menu">Income Report</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
{%endspaceless%}
