{%load static%}
{%spaceless%}
<header>
  <div style="background-color: black; display: flex; justify-content: space-between;">
    <div style="padding: 20px;">
      <p style="margin: 0; font-size: 18px;">
        <span style="color: cornflowerblue; margin-right: 5px">Vehicle</span>
        <span style="color: violet;">Management</span>
      </p>
    </div>
    <div style="display: flex; gap: 10px; align-items: center; color: turquoise; padding-right: 20px;">
      <div>Have any questions?</div>
      <div>
        <i class="fas fa-phone"></i> +8801819010101
      </div>
      <div>
        <i class="fas fa-envelope"></i> vehiclerent@sample.com
      </div>
    </div>
  </div>
  <div>
    <div>Home</div>
    <div>Who we are</div>
    <div>Rent a Vehicle</div>
    <div>Services</div>
    <div>Terms & Conditions</div>
    <div>Contact</div>
  </div>
</header>
{%endspaceless%}