{%load static%}
{% load custom_tags %}
{%spaceless%}
<header>
  <div style="background-color: black; display: flex; justify-content: space-between;">
    <div style="padding: 20px;">
      <p style="margin: 0; font-size: 18px;">
        <span style="color: cornflowerblue; margin-right: 5px">Vehicle</span>
        <span style="color: violet;">Management</span>
      </p>
    </div>
    <div style="display: flex; gap: 10px; align-items: center; color: turquoise; padding-right: 20px;">
      <div>Have any questions?</div>
      <div>
        <i class="fas fa-phone"></i> +8801819010101
      </div>
      <div>
        <i class="fas fa-envelope"></i> vehiclerent@sample.com
      </div>
    </div>
  </div>
  <div style="display: flex;justify-content: center;gap: 20px;background: linear-gradient(90deg, rgba(0,25,36,1) 0%, rgba(9,53,121,1) 35%, rgba(192,0,255,1) 100%);;align-items: center;">
    <div style="padding: 10px;background: #ffdf00;padding: 10px;">
      <a href="{% url 'landingpage' %}" style="color: black;">Home</a>
    </div>
    <div>
      <a href="{% url 'aboutpage' %}" style="color: white;">Who we are</a>
    </div>
    <div style="color: white;">Rent a Vehicle</div>
    <div style="color: white;">Services</div>
    <div>
      <a href="{% url 'termspage' %}" style="color: white;">Terms & Conditions</a>
    </div>
    <div style="color: white;">Contact</div>
    {% profile_load request %}
  </div>
</header>
{%endspaceless%}